
/* 
# #ff9955
# #625851 */
/* #c8b7b7 */
/* #55a6a3 */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

/* CSS rules to specify families */

.rst-content code.literal, .rst-content tt.literal {
  color: #55a6a3;
  white-space: normal;
}

.rst-content .linenodiv pre, .rst-content div[class^="highlight"] pre, .rst-content pre.literal-block {
    font-family: 'JetBrains Mono', monospace;
    font-size: 15px;
    line-height: 1.4;
}

.rst-content code, .rst-content tt, .code, .kbd, .pre, .samp {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
  font-size: 16px;
}
html.writer-html4 .rst-content dl:not(.docutils) .descclassname, html.writer-html4 .rst-content dl:not(.docutils) .descname, html.writer-html4 .rst-content dl:not(.docutils) .sig-name, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .descclassname, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .descname, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .sig-name {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
    font-size: 16px;
}

html.writer-html4 .rst-content dl:not(.docutils) code, html.writer-html4 .rst-content dl:not(.docutils) tt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) code, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) tt {
  font-weight: 400;
}

html.writer-html4 .rst-content dl:not(.docutils) code.descname, html.writer-html4 .rst-content dl:not(.docutils) tt.descname, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) code.descname, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) tt.descname {
  font-weight: 600;
}

.rst-content .toctree-wrapper>p.caption, h1, h2, h3, h4, h5, h6, legend {
  margin-top: 0;
  font-weight: 600;
  font-family: 'Kulim Park', sans-serif;
  letter-spacing: 0.06rem;
  color: #ff9955;
}

body, p {
  font-family: 'Kulim Park', sans-serif;
  font-weight: 400;
  color: #625851;
  font-size: 18px;
}

.wy-side-nav-search {
  background-color: #ff9955;
}

a {
  color: #cd896c;
}

a:hover {
  color: #e79876;
}

a:visited {
  color: #c67350;
}

a:active {
  color: #cd896c;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
  color: #cd896c;
}

.wy-side-nav-search input[type="text"] {
  width: 100%;
  border-radius: 0px;
  padding: 6px 12px;
  border-color: transparent;
}

.wy-side-nav-search .wy-dropdown>a, .wy-side-nav-search>a {
  color: #ffffff;
}

.wy-menu-vertical a {
  color: #d9d9d9;
}

.wy-menu-vertical a:active {
  background-color: #cd896c;
  cursor: pointer;
  color: #fff;
}

html.writer-html4 .rst-content dl:not(.docutils)>dt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt {
  display: table;
  margin: 6px 0;
  margin-top: 6px;
  font-size: 90%;
  line-height: normal;
  background: #faf5e7;
  color: #6f3d3a;
  border-top: 3px solid #cd896c;
  padding: 6px;
  position: relative;
}

.sphx-glr-thumbcontainer:hover {
  border: solid #cd896c 1px;
  box-shadow: 0 0 15px rgba(142, 176, 202, 0.5);
}

div.sphx-glr-download a {
  background-color: #f3f6f6 !important;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, .1);
  color: #000;
  display: inline-block;
  font-weight: bold;
  padding: 1ex;
  text-align: center;
  background-image: none !important;
  box-shadow: inset 0 1px 2px -1px hsla(0, 0%, 100%, .5), inset 0 -2px 0 0 rgba(0, 0, 0, .1);
}

footer p {
  margin-bottom: 12px;
  font-size: small;
}

footer {
  color: grey;
  font-size: small;
}

.sphx-glr-download-link-note.admonition.note {
  visibility: hidden;
  margin: -2.5em;
}

.wy-nav-top a {
    color: #fff !important;
    font-weight: 700;
}
.wy-nav-top {
  background: #ff9955;
}

.highlight .k, .highlight .kc, .highlight .kn, .highlight .nb, .highlight .ow {
  color: #ff9955;
  font-weight: bold;
}

.highlight .nn, .highlight .nf, .highlight .nd , .highlight .fm {
  color: #b6385a;
  font-weight: bold;
}

.highlight .s2, .highlight .sa{
  color: #55a6a3;
}

.highlight .c1 {
  color: #aaacac;
  font-style: italic;
}

.highlight .mi , .highlight .mf{
  color: #80b859;
}

.highlight .ne {
  color: #F06DAB;
  font-weight: bold;
}

.highlight .sd {
  color: #86532F;
  font-style: italic;
}

.highlight .nc {
    color: #3eb4bf;
    font-weight: bold;
}


.rst-content .viewcode-back, .rst-content .viewcode-link {
  color: #5aa2a2;
  font-size: 80%;
}

a[class*='sphx-glr-backref-'] {
  color: inherit !important;
}
.wy-breadcrumbs li.wy-breadcrumbs-aside {
    float: right;
    font-size: small;
}
